<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display|Red+Hat+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="skycons.js"></script>
    <script type="text/javascript" src="keys.js"></script>
    <script type="text/javascript" src="script.js"></script>
</head>
<body>
    <div id="container">
        <div id="left">
            <div id="dateTime">
                <div id="time">{{ time }}</div>
                <div id="date">{{ new Date().toLocaleDateString("en", {weekday: "long", month: "long", day: "numeric"}) }}</div>
            </div>
            <div id="weatherContainer">
                <div id="apiKey" v-if="!dsapikey">
                    <p>Weather requires an API key.<br>Click <a href="https://darksky.net/dev" target="_blank">here</a> to register for one.<br>Add the key to the "keys.js" file.</p>
                </div>
                <div id="weather" v-if="weather">
                    <div id="current">
                        <a v-bind:href="`https://darksky.net/forecast/${location.lat}/${location.long}`" target="_blank">
                            <weather-icon v-bind:icon="weather.currently.icon"></weather-icon>
                            <span id="tempNow">{{ FormatTemperature(weather.currently.temperature) }}</span>
                            <span id="currentSummary">{{ weather.currently.summary }}</span>
                        </a>
                        <p>{{ weather.hourly.summary }}</p>
                    </div>
                    <div id="forecast">
                        <div v-for="(day, index) in weather.daily.data" v-bind:key="day.time" v-if="index <= 3">
                            <span>{{ FormatWeekday(day.time) }}</span>
                            <weather-icon v-bind:icon="day.icon"></weather-icon>
                            <span>{{ FormatTemperature(day.temperatureHigh) }}</span>
                        </div>
                    </div>
                    <p id="weekSummary">{{ weather.daily.summary }}</p>
                </div>
            </div>
            <div id="links">
                <a href="https://www.google.com/maps" target="_blank">Maps</a>
                <a href="https://www.gmail.com/" target="_blank">Gmail</a>
                <a href="https://drive.google.com/" target="_blank">Drive</a>
                <a href="https://www.google.com/calendar" target="_blank">Calendar</a>
                <a href="https://www.reddit.com/" target="_blank">Reddit</a>
                <a href="https://smile.amazon.com/" target="_blank">Amazon</a>
            </div>
        </div>
        <div id="right">
            <div id="newsContainer" v-if="newsapikey">
                <div class="newsItem" v-for="(item, index) in newssources" v-bind:key="index">
                    <h2><a v-bind:href="item.Homepage" target="_blank">{{ item.title }}</a></h2>
                    <ul>
                        <li v-for="article in item.articles"><a v-bind:href="article.link" target="_blank">{{ article.title }}</a></li> 
                    </ul>
                </div>
            </div>
            <div id="newsKeyRequired" v-else>
                <p>News requires an API key.<br>Click <a href="https://newsapi.org/" target="_blank">here</a> to register for one.<br>Add the key to the "keys.js" file.</p>
            </div>
        </div>
    </div>
</body>
</html>