html, body, #container {
    height: 100%;
    margin: 0;
    font-size: 8px;
    font-family: "Red Hat Display";
}

body {
    background-color: hsla(0, 0%, 99%, 1);
}

#container {
    display: grid;
    grid-template-columns: 25% 1fr;
}

#left {
    display: grid;
    grid-template-rows: repeat(3, calc(100%/3));
    padding: 0 4rem;
}

#newsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, calc(100%/3));
    height: 100%;
}

#dateTime, #weatherContainer, #links {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#dateTime {
    text-align: center;
}

#time {
    font-size: 7rem;
}

#date {
    font-size: 3rem;
}

#weather #current p {
    font-size: 2rem;
    margin: 0;
}

#forecast {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
}

#weatherContainer span, #weatherContainer canvas {
    vertical-align: middle;
}

#weatherContainer canvas {
    width: 5rem;
}

#weatherContainer span {
    font-size: 3rem;
}

#current {
    margin-bottom: 1rem;
    text-align: center;
}

#currentSummary {
    margin-left: 1rem;
}

#weatherContainer #forecast > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather #weekSummary {
    font-size: 1.6rem;
    margin: 0;
    text-align: center;
}

#weatherContainer #apiKey, #newsKeyRequired {
    text-align: center;
}

#apiKey p, #apiKey label, #newsKeyRequired p, #newsKeyRequired label {
    font-size: 2rem;
}

#apiKey input, #newsKeyRequired input {
    padding: 0.7rem;
    font-family: "Red Hat Text";
    display: block;
    width: 30rem;
    margin: 1rem auto;
}

#apiKey button, #newsKeyRequired button {
    padding: 1rem;
    border: none;
    background-color: #00A000;
    border-radius: 0.4rem;
    color: white;
    width: 8rem;
    cursor: pointer;
    outline: none;
}

#apiKey button:hover, #newsKeyRequired button:hover {
    background-color: rgba(0, 170, 0, 1);
}

#links {
    grid-row-start: 3;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,minmax(min-content,max-content));
}

#links a {
    display: block;
    font-size: 2.5rem;
    padding: 1.5rem;
}

.newsItem {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newsItem h2 {
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 0;
}

.newsItem ul {
    list-style-type: none;
    padding: 0;
}

.newsItem li {
    margin: 1.5rem 0;
}

.newsItem li a {
    font-size: 1.6rem;
    font-family: "Red Hat Text";
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgba(200, 0, 0, 0.9);
}

@media (min-height: 1400px) {
    html, body, #container {
        font-size: 14px;
    }
}

@media (min-height: 1000px) {
    html, body, #container {
        font-size: 10px;
    }
}

@media (max-width: 1000px) {
    #container {
        grid-template-columns: unset;
    }

    #left {
        grid-template-rows: unset;
    }
}

@media (max-width: 500px) {
    #dateTime {
        display: none;
    }

    #weatherContainer, #links {
        margin: 1rem 0;
    }

    #newsContainer {
        display: block;
    }

    #newsContainer ul {
        margin: 0;
    }

    .newsItem li {
        border: 1px solid #cecece;
        padding: 2rem;
        border-radius: 0.6rem;
        box-shadow: 0 1px 3px -2px black;
    }

    .newsItem li a {
        font-size: 2.1rem
    }
}